
/*Style for Sign-up/Sign in page Page*/
body{
    font-family: "Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.signup-home{
    background-color: #F1F1F1;
    overflow: none;
}

.heading {
    height: 90px;
    margin: 0 auto;
    padding-top: 50px;
    width: 330px;
    background-image: none;
}

.heading a {
    text-decoration: none;
}

.main-content {
    width: 450px;
    background-color: #FFF;
    z-index: 9999999;
    position: relative;
    padding: 0 25px;
    margin: 4% auto;
    font-size: 14px;
    box-shadow: 10px 10px 10px #F1F1F1;
    outline: none;
    border: 5px solid #F1F1F1;
}

.main-content form {
    padding: 14px;
    text-align: center;
}

.main-content .title-text h2 {
    padding: 17px 24px;
    font-family: 'gotham a','gotham b','helvetica neue',helvetica,arial,sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    text-align: center;
    margin-bottom: 5%;
}


.main-content .text {
    width: 100%;
    height: 45px;
    margin: 20px 0;
    color: #666;
    position: relative;
    border: 1px solid #b3b3b3;
    padding: 4px;
    background-color: #FFF;
    margin-bottom: 14px;
}

/*New*/
.main-content  .text .dropdown-toggle{
    position: absolute;
    bottom: 7px;
    left: 325%;
    border: 0;
}

.button-text {
    cursor:pointer;
    background-color: #00ACFD;
    width: 100%;
    height: 45px;
    margin: 10px 0;
    color: #666;
    position: relative;
    border: 1px solid #00ACFD;
    padding: 4px;
}

.main-content .text input {
    font-weight:500;
    border-radius: 0;
    padding: 5px 5px 0 5px;
    margin-bottom: 10px;
    width:100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    border: 3px solid rgba(0,0,0,0);
}

.main-content .text input:hover, .main-content .text input:focus{
    background-color: #FFF;
    outline: none;
}

.main-content .button-text button {
    width: 100%;
    border: 0;
    background-color: #00ACFD;
    color: #FFF;
    padding-top:5px;
    padding-bottom:5px;
}

.text-below {
    text-align: center;
}

.check-text span {
    width: 100%;

}

footer {
    padding: 25px 0;
    text-align: center;
    background-color: #111111;
    color: #666666;
}

footer span.copyright, footer span.sub-text {
    text-transform: uppercase;
    text-transform: none;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height: 40px;
}

footer ul.quicklinks {
    margin-bottom: 0;
    text-transform: uppercase;
    text-transform: none;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height: 40px;
}

footer ul.quicklinks .fa {
    color: #666666;
}


