<!DOCTYPE html>
<html ng-app="allcast" ng-controller="allcastCtrl">
<head>
    <title ng-bind="pageTitle"></title>

    <!-- social media tags -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@allcast">
    <meta name="twitter:title" content="ngBoilerplate">
    <meta name="twitter:description" content="">
    <meta name="twitter:creator" content="@allcast">
    <meta name="twitter:image:src" content="">
    <meta property="og:title" content="" />
    <meta property="og:type" content="" />
    <meta property="og:url" content="" />
    <meta property="og:image" content="" />
    <meta property="og:description" content="">

    <!--end of social media tags -->

    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- compiled CSS -->
    <% styles.forEach( function ( file ) { %>
    <link rel="stylesheet" type="text/css" href="<%= file %>" />
    <% }); %>

    <link rel="stylesheet" type="text/css" href="assets/home.css" ng-if="$state.current.name=='home'">
    <link rel="stylesheet" type="text/css" href="assets/login.css" ng-if="$state.current.name=='login' ||$state.current.name=='register'">

    <link rel="stylesheet" type="text/css"  href="assets/broadcast.css" ng-if="$state.current.name=='broadcast'||$state.current.name=='listen'">

    <link rel="stylesheet" type="text/css"  href="assets/listening.css" ng-if="$state.current.name=='listen'">
    <link rel="stylesheet" type="text/css"  href="assets/details.css" ng-if="$state.current.name=='details'">
    <link rel="stylesheet" type="text/css"  href="assets/details.css" ng-if="$state.current.name=='details.broadcast'">

    <!-- Fonts from Google -->
    <link href='http://fonts.googleapis.com/css?family=Lato:300|Montserrat' rel='stylesheet' type='text/css'/> <!-- Fonts from Google -->

    <link href='http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css' rel='stylesheet' type='text/css'/>

</head>
<body ng-class="{'signup-home':$state.current.name==='login'||'register'}">
  <!-- main -->
   <!-- Navigation Starts here -->
  <section ui-view></section>


<!-- compiled JavaScript --><% scripts.forEach( function ( file ) { %>
<script type="text/javascript" src="<%= file %>"></script><% }); %>



</body>
</html>