<div class="main-content">
  <div class="inner">
    <div class="title-text"><h2>Enter Broadcast Details</h2><hr></div>
    <form role="form" name="broadcast" ng-submit="broadcastDetails(details)" novalidate>
      <!-- span error for broadcast name -->
      <span ng-show="broadcast.broadcastname.$dirty && broadcast.broadcastname.$invalid">
          <span class=" text-center text-danger" ng-show="broadcast.broadcastname.$error.required">Broadcast name is required
          </span>
      </span>

      <div class="text">
        <span>
          <input type="text" placeholder="Enter broadcast name" name="broadcastname" ng-model="details.broadcastname" required>
        </span>
      </div>

      <!-- category name for broadcast -->
      <span ng-show="broadcast.broadcastcategoryname.$dirty && broadcast.broadcastcategoryname.$invalid">
          <span class=" text-center text-danger" ng-show="broadcast.broadcastcategoryname.$error.required">Broadcast  Category name is required
          </span>
      </span>


      <div class="text">
        <span>
          <input type="text"  name="broadcastcategoryname" placeholder="Select channel category" class="channel-field" ng-model="details.broadcastcategoryname" required>
          <div class="input-group-btn">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="caret"></span></button>
              <ul class="dropdown-menu dropdown-menu-right" role="menu">
                <li><a href="#">Devotional</a></li>
                <li><a href="#">Reality</a></li>
                <li><a href="#">Spoken word</a></li>
                <li><a href="#">What's Happing</a></li>
                <li><a href="#">Sports</a></li>
              </ul>
          </div>
        </span>
      </div>


      <div class="button-text">
        <button ng-disable="broadcast.$invalid" type="submit"><span>Submit</span></button>
      </div>
    </form>


  </div>
</div>
<footer>
  <div class="container">
     <div class="row">
       <div class="col-md-4">
         <ul>
          <li><a href="#">Home</a></li>
        </ul>
       </div>
       <div class="col-md-4">
         <ul class="list-inline quicklinks">
           <li><a href="#"><i class="fa fa-facebook"></i></a></li>
           <li><a href="#"><i class="fa fa-twitter"></i></a></li>
           <li><a href="#"><i class="fa fa-google"></i></a></li>
         </ul>
       </div>
       <div class="col-md-4">
         <span class="sub-text">Made with <i class="fa fa-heart"></i> and <i class="fa fa-coffee"></i> by Bolt Lab. Solutions</span>
       </div>
     </div>
  </div>
</footer>
